.your-order-table td img {

    width: 10px;
  }
  
  #your-order-table {
    padding: 20px;
    width: 85vw;
    height: 100%;
    margin: 0 auto;
  }
  
  #your-order-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  #your-order-table th,
  #your-order-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  #your-order-table th {
    background-color: #f2f2f2;
  }
  
  .your-order-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.735);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0%;
    border-radius: 15px;
  }
  
  .thead-dark {
    background-color: #3498db;
  }
  
  
  